# Framework da API
fastapi
uvicorn[standard]

# Processamento de Linguagem Natural (PLN)
spacy>=3.7.0,<4.0.0
unidecode
rapidfuzz

# Requisições HTTP (para a API FIPE)
requests

# Agendador de tarefas
apscheduler
