# requirements.txt

# Framework da API
fastapi
uvicorn[standard]

# Processamento de Linguagem Natural (PLN)
spacy>=3.7.0,<4.0.0
unidecode
rapidfuzz

# Agendador de tarefas em background
apscheduler

# Dependência para o seu xml_fetcher.py
xmltodict

# Necessário para o script de atualização de vocabulário
requests
